{% extends "layouts/default.html" %}
{% block title %}MTG{% endblock %}
{% block head-scripts %}{% endblock %}
{% block head-styles %}
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
<link rel="stylesheet" type="text/css" media="screen" href="/css/view-deck.css">
{% endblock %}
{% block content %}
<div id="main">
    <div id="deck">
	{% for card in collection %}
	<div class="card">
	    <img onmouseout="viewCard(null)" onmouseover="viewCard(this)" onmouseup="$(this).toggleClass('flip')" src="{{ card.image.normal }}" alt="{{ card.name }}" />
	    <span class="quantity">{{ card.quantity }}</span>
	</div>
	{% endfor %}
    </div>

    <div id="card-viewer">
    </div>
</div>
{% endblock %}
{% block body-scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/play.js"></script>
{% endblock %}
